doctype html
html
  head
    title MR-Dance Academy
    block scripts
    block style 
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/1.png")
                | MDA
            li.li1 #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]
    block content
    footer#footer Copyright @ 2023 MR-DanceAcademy.com | All Rights Reserved 
